body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
}

canvas {
    display: block;
    margin: 20px auto;
    background-color: #0569cd; /* Light background for better visibility */
    border: 1px solid #c80606;

}
